.cm-bank-logo-ABC {
    background: url("./newIcon/ABC.png")
}

.cm-bank-logo-ASCB {
    background: url("./newIcon/ASCB.png")
}

.cm-bank-logo-BANKWF {
    background: url("./newIcon/BANKWF.png")
}

.cm-bank-logo-BHB {
    background: url("./newIcon/BHB.png")
}

.cm-bank-logo-BJBANK {
    background: url("./newIcon/BJBANK.png")
}

.cm-bank-logo-BJRCB {
    background: url("./newIcon/BJRCB.png")
}

.cm-bank-logo-BOC {
    background: url("./newIcon/BOC.png")
}

.cm-bank-logo-BOCD {
    background: url("./newIcon/BOCD.png")
}

.cm-bank-logo-BOD {
    background: url("./newIcon/BOD.png")
}

.cm-bank-logo-BODD {
    background: url("./newIcon/BODD.png")
}

.cm-bank-logo-BOHAIB {
    background: url("./newIcon/BOHAIB.png")
}

.cm-bank-logo-BOJZ {
    background: url("./newIcon/BOJZ.png")
}

.cm-bank-logo-BOP {
    background: url("./newIcon/BOP.png")
}

.cm-bank-logo-BOQH {
    background: url("./newIcon/BOQH.png")
}

.cm-bank-logo-BOYK {
    background: url("./newIcon/BOYK.png")
}

.cm-bank-logo-BSB {
    background: url("./newIcon/BSB.png")
}

.cm-bank-logo-BZMD {
    background: url("./newIcon/BZMD.png")
}

.cm-bank-logo-CCB {
    background: url("./newIcon/CCB.png")
}

.cm-bank-logo-CCQTGB {
    background: url("./newIcon/CCQTGB.png")
}

.cm-bank-logo-CDCB {
    background: url("./newIcon/CDCB.png")
}

.cm-bank-logo-CEB {
    background: url("./newIcon/CEB.png")
}

.cm-bank-logo-CIB {
    background: url("./newIcon/CIB.png")
}

.cm-bank-logo-CITIC {
    background: url("./newIcon/CITIC.png")
}

.cm-bank-logo-CMB {
    background: url("./newIcon/CMB.png")
}

.cm-bank-logo-CMBC {
    background: url("./newIcon/CMBC.png")
}

.cm-bank-logo-COMM {
    background: url("./newIcon/COMM.png")
}

.cm-bank-logo-CQBANK {
    background: url("./newIcon/CQBANK.png")
}

.cm-bank-logo-CRCBANK {
    background: url("./newIcon/CRCBANK.png")
}

.cm-bank-logo-CSCB {
    background: url("./newIcon/CSCB.png")
}

.cm-bank-logo-CSRCB {
    background: url("./newIcon/CSRCB.png")
}

.cm-bank-logo-CZBANK {
    background: url("./newIcon/CZBANK.png")
}

.cm-bank-logo-CZCB {
    background: url("./newIcon/CZCB.png")
}

.cm-bank-logo-DAQINGB {
    background: url("./newIcon/DAQINGB.png")
}

.cm-bank-logo-DLB {
    background: url("./newIcon/DLB.png")
}

.cm-bank-logo-DZBANK {
    background: url("./newIcon/DZBANK.png")
}

.cm-bank-logo-EGBANK {
    background: url("./newIcon/EGBANK.png")
}

.cm-bank-logo-FJHXBC {
    background: url("./newIcon/FJHXBC.png")
}

.cm-bank-logo-FSCB {
    background: url("./newIcon/FSCB.png")
}

.cm-bank-logo-FXCB {
    background: url("./newIcon/FXCB.png")
}

.cm-bank-logo-GCB {
    background: url("./newIcon/GCB.png")
}

.cm-bank-logo-GDB {
    background: url("./newIcon/GDB.png")
}

.cm-bank-logo-GLBANK {
    background: url("./newIcon/GLBANK.png")
}

.cm-bank-logo-GZB {
    background: url("./newIcon/GZB.png")
}

.cm-bank-logo-H3CB {
    background: url("./newIcon/H3CB.png")
}

.cm-bank-logo-HANABANK {
    background: url("./newIcon/HANABANK.png")
}

.cm-bank-logo-HBC {
    background: url("./newIcon/HBC.png")
}

.cm-bank-logo-HDBANK {
    background: url("./newIcon/HDBANK.png")
}

.cm-bank-logo-HKB {
    background: url("./newIcon/HKB.png")
}

.cm-bank-logo-HKBEA {
    background: url("./newIcon/HKBEA.png")
}

.cm-bank-logo-HRXJB {
    background: url("./newIcon/HRXJB.png")
}

.cm-bank-logo-HSBANK {
    background: url("./newIcon/HSBANK.png")
}

.cm-bank-logo-HSBK {
    background: url("./newIcon/HSBK.png")
}

.cm-bank-logo-HXBANK {
    background: url("./newIcon/HXBANK.png")
}

.cm-bank-logo-HZCB {
    background: url("./newIcon/HZCB.png")
}

.cm-bank-logo-ICBC {
    background: url("./newIcon/ICBC.png")
}

.cm-bank-logo-JHBANK {
    background: url("./newIcon/JHBANK.png")
}

.cm-bank-logo-JINCHB {
    background: url("./newIcon/JINCHB.png")
}

.cm-bank-logo-JJBANK {
    background: url("./newIcon/JJBANK.png")
}

.cm-bank-logo-JLBANK {
    background: url("./newIcon/JLBANK.png")
}

.cm-bank-logo-JNBANK {
    background: url("./newIcon/JNBANK.png")
}

.cm-bank-logo-JRCB {
    background: url("./newIcon/JRCB.png")
}

.cm-bank-logo-JSB {
    background: url("./newIcon/JSB.png")
}

.cm-bank-logo-JSBANK {
    background: url("./newIcon/JSBANK.png")
}

.cm-bank-logo-JXBANK {
    background: url("./newIcon/JXBANK.png")
}

.cm-bank-logo-KLB {
    background: url("./newIcon/KLB.png")
}

.cm-bank-logo-KSRB {
    background: url("./newIcon/KSRB.png")
}

.cm-bank-logo-LANGFB {
    background: url("./newIcon/LANGFB.png")
}

.cm-bank-logo-LSBANK {
    background: url("./newIcon/LSBANK.png")
}

.cm-bank-logo-LSBC {
    background: url("./newIcon/LSBC.png")
}

.cm-bank-logo-LSCCB {
    background: url("./newIcon/LSCCB.png")
}

.cm-bank-logo-LYBANK {
    background: url("./newIcon/LYBANK.png")
}

.cm-bank-logo-LZYH {
    background: url("./newIcon/LZYH.png")
}

.cm-bank-logo-MTBANK {
    background: url("./newIcon/MTBANK.png")
}

.cm-bank-logo-NBBANK {
    background: url("./newIcon/NBBANK.png")
}

.cm-bank-logo-NJCB {
    background: url("./newIcon/NJCB.png")
}

.cm-bank-logo-NXBANK {
    background: url("./newIcon/NXBANK.png")
}

.cm-bank-logo-NYNB {
    background: url("./newIcon/NYNB.png")
}

.cm-bank-logo-ORBANK {
    background: url("./newIcon/ORBANK.png")
}

.cm-bank-logo-PSBC {
    background: url("./newIcon/PSBC.png")
}

.cm-bank-logo-QDCCB {
    background: url("./newIcon/QDCCB.png")
}

.cm-bank-logo-QLBANK {
    background: url("./newIcon/QLBANK.png")
}

.cm-bank-logo-SHBANK {
    background: url("./newIcon/SHBANK.png")
}

.cm-bank-logo-SHRCB {
    background: url("./newIcon/SHRCB.png")
}

.cm-bank-logo-SJBANK {
    background: url("./newIcon/SJBANK.png")
}

.cm-bank-logo-SPABANK {
    background: url("./newIcon/SPABANK.png")
}

.cm-bank-logo-SPDB {
    background: url("./newIcon/SPDB.png")
}

.cm-bank-logo-SRBANK {
    background: url("./newIcon/SRBANK.png")
}

.cm-bank-logo-SRCB {
    background: url("./newIcon/SRCB.png")
}

.cm-bank-logo-SXCB {
    background: url("./newIcon/SXCB.png")
}

.cm-bank-logo-SZSBK {
    background: url("./newIcon/SZSBK.png")
}

.cm-bank-logo-TCCB {
    background: url("./newIcon/TCCB.png")
}

.cm-bank-logo-TZCB {
    background: url("./newIcon/TZCB.png")
}

.cm-bank-logo-WZCB {
    background: url("./newIcon/WZCB.png")
}

.cm-bank-logo-XABANK {
    background: url("./newIcon/XABANK.png")
}

.cm-bank-logo-XTB {
    background: url("./newIcon/XTB.png")
}

.cm-bank-logo-XYBANK {
    background: url("./newIcon/XYBANK.png")
}

.cm-bank-logo-ZBCB {
    background: url("./newIcon/ZBCB.png")
}

.cm-bank-logo-ZJTLCB {
    background: url("./newIcon/ZJTLCB.png")
}

.cm-bank-logo-ZYCBANK {
    background: url("./newIcon/ZYCBANK.png")
}

.cm-bank-logo-ZZBANK {
    background: url("./newIcon/ZZBANK.png")
}

.cm-bank-logo-DRCBCL {
    background: url("./newIcon/DRCBCL.png")
}

.cm-bank-logo-YBCCB {
    background: url("./newIcon/YBCCB.png")
}

.cm-bank-logo-ZRCBANK {
    background: url("./newIcon/ZRCBANK.png")
}

.cm-bank-logo-BOCY {
    background: url("./newIcon/BOCY.png")
}